.site-layout {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  margin-top: 72px;
}

@media (min-width: 40rem) {
  .site-layout {
    width: 100%;
    padding: 0 50px;
    min-height: 100vh;
    height: 100%;
    margin-top: 72px;
  }
}
